body{
    display: block;
    justify-content: space-evenly;
    z-index: 0;
}

.big{
    position: relative;
    z-index: 1;

}
.draggable{
    height: 30px;
    width: 200px;

    margin-left: auto;
    margin-right: auto;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    position: relative;
    z-index: 1;

}

#_1{
    width: 100%;
    background-color: red;

}
#_1::after{
    background-image: url("wood_texture.jpeg");
    opacity: 0.1;
}

#_2{
    width: 80%;
    background-color: lightblue;
}

#_3{
    width: 65%;
    background-color: greenyellow;
}

#_4{
    width: 45%;
    background-color: hotpink;
}

#_5{
    width: 25%;
    background-color: rgb(153, 0, 255);
}

#_6{
    width: 15%;
    background-color: rgb(255, 247, 131);
}


.drop_zone{
    padding-top: 120px;
    display: flex;
    justify-content: space-around;
    height: 500px;
    width: 100%;
}

.base{
    position:relative;
    height: 20px;
    width: 100%;
    background: url("wood_texture.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;

}


.container{
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.stick{
    border-radius: 10px 10px 0px 0px;
    height: 300px;
    width: 10%;
    background: url("vertical_wood.png");
    background-size: 200%;
    background-position: right 50%;

    position: absolute;
    z-index: 0;

    /* margin-left: auto;
    margin-right: auto; */
    left: 45%;

}

.modal{
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 2;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/


}

#modal-textbox{

    text-align: center;
	background: radial-gradient(rgb(255, 205, 255),rgba(255, 255, 255, 0.6));
	height: 300px;
	width: 550px;
	border-radius: 10px;

	margin: 150px auto;
	padding: 2%;
	line-height: 120%;
}

.close{
    width: 80px;
    height: 30px;

    border-radius: 10px;
    background-color: rgb(252, 252, 252);
}

#victory{
    padding-bottom: 80px;
}

#victory_modal{
    display: none;
}
#rules_modal{
    display: none;
}


#myVideo{
    position: absolute;
    z-index: -1;

    width:100%;
}

.buttons{
    position: relative;
    text-align: center;
    /* line-height: 50px; */
    background: linear-gradient(white,rgb(255, 195, 195,0.5));
    width: 200px;

    border-radius: 15px;

}


.button_container{
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#move{
    background: linear-gradient(rgb(255, 255, 255),rgb(255, 136, 191,0.5));
}

a{
    text-decoration: none;
    color: black;  
}