body{
    display: block;
    justify-content: space-evenly;
}
.draggable{
    height: 30px;
    width: 200px;

    margin-left: auto;
    margin-right: auto;

    position: relative;
    z-index: 1;

}

#_1{
    width: 220px;
    background-color: red;
}

#_2{
    width: 180px;
    background-color: lightblue;
}

#_3{
    width: 150px;
    background-color: greenyellow;
}

#_4{
    width: 100px;
    background-color: hotpink;
}

#_5{
    width: 60px;
    background-color: rgb(153, 0, 255);
}

.drop_zone{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-right: auto;
    margin-left: auto;

    height: 400px;
    width: 1200px;

    position: relative;
    z-index: 0;
}

.base{
    height: 50px;
    width: 100%;
    background: url("wood_texture.jpeg");
    background-size: 50%;

}


.container{
    margin-left:auto;
    margin-right: auto;
    height: 100%;
    width: 400px;
    
    display: flex;
    flex-direction: column-reverse;
}

.move{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
    height: 50px;
}

.stick{

    
    height: 300px;
    width: 30px;
    background: url("wood_texture.jpeg");
    position:absolute;
    z-index: 0;

    margin-left: 15.5%;
}

#restart{
    line-height: 50px;
    background-color: rgb(255, 136, 136);
    width: 200px;

    border-radius: 15px;

}


.game_container{
    position: relative;
    padding-left: 8%;
    padding-right: 8%;
}